@tailwind base;
@tailwind components;
@tailwind utilities; 




/* =====We had to do this so that we could override tailwind and get the heading back to how it should be==== */
/* h1{
    font-weight: bold;
    font-size: 2rem;
} */

@layer base {

    .menu{
        border-color: rgba(255, 255, 255, 0.1);
    }

    .main{
        border-radius: 25px 0 0 25px;
        border-left: none;
        border-color: rgba(255, 255, 255, 0.1);
    }

    .content{
        border-radius: 0 25px 25px 0;
        border-right: none;
        border-color: rgba(255, 255, 255, 0.1);
    }

    .title{
        border-color: rgba(255, 255, 255, 0.1);
        background-color: rgba(255, 255, 255, 0.2);
        /* margin-top: -3.5em; */
        padding: .5rem;
        border-radius: 0 0 15px 15px;

    }

    .trailer img{
        border-radius: 15px;
        margin-bottom: -3.6em;
    }

    .search {
        border-color: rgba(255, 255, 255, 0.02);
        background-color: rgba(220, 220, 220, 0.05);
        border-radius: 15px;
        width: 300px;
    }

    .icon{
        border-color: rgba(255, 255, 255, 0.01);
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 30px;
    }
    .plus{
        border-color: rgba(255, 255, 255, 0.01);
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 10px;
    }

    .watch{
        border-radius: 15px;
        padding: 1em 1.8em;
    }


    h1{
        @apply font-bold text-2xl;
    }

    h2{
        @apply font-bold text-lg;
    }
}